[submodule "backend"]
	path = backend
	url = https://github.com/pappychamp/itrender_backend.git
[submodule "batch"]
	path = batch
	url = https://github.com/pappychamp/itrender_batch.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/pappychamp/itrender_frontend.git
[submodule "infra"]
	path = infra
	url = https://github.com/pappychamp/itrender_infra
